@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');


* {
  margin: 0;
  padding: 0;
  color: white;
  box-sizing: border-box;
  font-size: 20px;
}

body {
  background-color: rgba(0, 0, 0, 0.911);
  height: 100vh;
  font-family: "Poppins", arial;
}

header {
  text-align: center;
}

/* Navbar */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px white solid;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: black;
  padding: 20px;
}

.logo {
  margin-left: 30px;
  font-weight: 900;
  font-size: 30px;
}

ul {
  
  display: flex;
  list-style-type: none;
}

li {

  margin-right: 20px;
}

.nav_list a {
  font-weight: bolder;
}

.nav_list a:hover {
  font-weight: bolder;
}

i {
  
  color: white;
}
/* Navbar */

/* Header*/
header h1 {
  text-align: center;
  font-size: 1.8em;
}

header h2 {
  margin: 10px;
  text-align: center;
}
header div {
  text-align: center;
}
header p {
  margin: 30px;
  font-size: 1.2em;
}

/* Header*/

/* Images */
section {
  margin: 20px 0;
  display: flex;
  flex-flow: column;
  align-items: center;
}

article img {
  height: 350px;
  width: 350px;
  border-radius: 30%;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
}

.riding {
  display: flex;
  flex-direction: column;
  align-items: center;
}

article img {
  margin: 30px 10px;
}

.playing {
  margin-bottom: 30px;
}

.playing img {
  height: 400px;
  width: 500px;
}
/* Images */
