@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');


* {
  margin: 0;
  padding: 0;
  color: white;
  box-sizing: border-box;
  font-size: 20px;
}

body {
 
background-color: rgba(0, 0, 0, 0.938);
  height: 100vh;
  font-family: "Poppins", arial;
  width: 100%;
}


/* Navbar */


.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px white solid;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: black;
  padding: 20px;
}

.logo {
  margin-left: 30px;
  font-weight: 900;
  font-size: 30px;
  font-family: 'Indie Flower', cursive;
}

ul {
  
  display: flex;
  list-style-type: none;
}

li {

  margin-right: 20px;
}

.nav_list a {
  font-weight: bolder;
}

.nav_list a:hover {
  font-weight: bolder;
}

i {
}
/* Navbar */

/* Header*/


header h1 {
    text-align: center;
    margin-top: 20px;
    font-size: 1.8em;
}

header h2 {
margin: 10px;
text-align: center;

}
header div {
    text-align: center;
}
header p {
    margin: 30px;
    font-size: 1.2em;
    

}

/* Header*/

/* Section*/
section {
    text-align: center;
}

section h2 {
  margin-bottom: 20px;
}

/* Section*/

/* ========================== Photos section ========================== */

.homepage {
  display: grid;
  grid-template-columns: 45% 45%;
  grid-gap: 10%;
}

.homepage img {
width: 100%;
}