@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap");

* {
  margin: 0;
  padding: 0;
  color: white;
  box-sizing: border-box;
  font-size: 20px;
}

body {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url(https://images.pexels.com/photos/956999/milky-way-starry-sky-night-sky-star-956999.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
  background-position: center;
  background-size: 100%;
  height: 100vh;
  font-family: "Poppins", arial;
}

/* Navbar */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.356);
}

.brand img {
  height: 90px;
}

ul {
  display: flex;
  list-style-type: none;
}

li {
  margin-right: 20px;
}

i {
  color: white;
}
/* Navbar */

h1 {
  text-align: center;
  font-size: 1.8em;
}

.card {
  margin: 1em;
}

.handstand {
  width: 200px;
  height: 300px;
}

.container {
  display: flex;
  justify-content: center;
}

.card {
  width: 33%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 5px yellow solid;
  border-radius: 10px;
  background-color: black;
}

.card h3 {
  text-decoration: underline;
}

.card h3,
p,
.image-container {
  margin-top: 1em;
  text-align: center;
}
